
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
/* Rectangle 25 */

* {
box-sizing: border-box;
padding:0;
margin:0;

}

body {
width:100%;
height: 100vh;
overflow-x: hidden;
}

footer {
font-family: 'Cormorant Garamond', serif;
background:  #111111;
height:auto;
color:#C4C4C4;
padding-top:20px;
font-size:26px;
line-height: 40px;
}

footer h1, footer h4 {
color:white;

}

footer h4 {
24px;

}

footer h1 {
font-size:45px
}

footer .row {
padding: 3rem 0;

}

footer hr {
margin-top: 3rem ;
width: 100%;
height: 0px;
border: 0.5px solid rgb(255,255,255,.3);

}
footer ul {
list-style:none;
}

.footer-hotel {
margin-bottom:-5px;

}

footer .fab {
color: white;
font-size:24px;
display:inline-flex;
align-items:space-between;
}

