@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
/* Rectangle 25 */


.main-body {
display: flex;
justify-content:center;
align-items: center;
font-family: 'Montserrat', sans-serif;
}

.img-box {
width: 550px;
height: 651px;
margin:0;
padding: 3rem;
}

.caption {
padding: 5rem;

}

.enjoy-msg {
font-family: 'Cormorant Garamond', serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
color: #333333;
}

.font-cormorant {
font-family: 'Cormorant Garamond', serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
color: #333333;
}

.padding-0 {
padding:0;
margin:0;
}

.p-3{
padding:3rem;

}

div.gallery-img img {
max-height:400px;
width:100%;

}


figure img {
border-radius:3px;
display:grid;
gap:2rem;
max-height:300px;
margin:0;
}

figure figcaption {
margin-top:7px;
}

figure figcaption span {
font-size:14px;

}


@media only screen and (max-width: 600px) {
 .main-body {
padding: 2px;
margin:0;
}

.caption {
margin:0;
padding:0;
}

}
