@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative:wght@400;700&family=Cormorant+Garamond:wght@700&family=Playfair+Display+SC:wght@700&family=Roboto+Slab:wght@700&family=Roboto:wght@700&display=swap');

*, html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header styling */

header {
    height: 70vh;
    background: url('/contactheader-background.svg') center/cover no-repeat;
    display: flex;
    color: #ffffff;
    position: relative;
}

.header-title {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
}

#logo {
    font-size: 2em;
    text-align: center;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

#menu {
    top: 20px;
    right: 50px;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
}

.hide-menu{
    display: none;
}

.navbar {
    display: none;
}

.navbar-list {
    padding: 10px 0px;
    list-style-type: none;
}

.navbar-list a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

/* End of header styling */

/* address styling */

.contact-title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 1.5em;
    font-family: 'Cormorant Garamond', serif;
}

.contact-details {
    text-align: center;
    margin-bottom: 5%;
}

.col {
    color: #333333;
    padding: 10px 15px;
}

.contact-icon {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.4);
}

.col-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 10px;
}

.col-paragraph {
    color: #fbb537;
    font-size: 1.2rem;
}


/* End of address styling */

/* enquiry styling */
.send-enquiries {
    margin-bottom: 5%;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.enquiry-col {
    color: #333333;
    padding: 10px 15px;
    
}

.form-col {
    display: block;
}

.label {
    padding: 10px;
    text-align: left;
}

.input-col {
    border: 1px solid #333333;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    outline: 0;
    width: 100%;
}

.inquiry-button {
    text-align: center;
}

.inquiry-button button{
    padding: 10px 15px;
    font-size: 1.5rem;
    color: #ffffff;
    background: #fbb537;
    border: none;
    border-radius: 8px;
    font-family: 'Cinzel Decorative', cursive;
}

.receptionist {
    height: 70vh;
    background: url('/receptionist.svg') center/cover no-repeat;
}
/* End of enquiry styling */

/* Location styling */
#map {
    width: 100%;
    height: 50vh;
    background-color: grey;
  }

  .location-title {
      margin-top: 5%;
      margin-bottom: 2%;
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Cormorant Garamond', serif;
      text-transform: uppercase;
  }

  footer {
      margin-top: 5%;
      padding-top: 3%;
      color: #ffffff;
      background: #333333;
      text-align: center;
      font-family: 'Playfair Display', serif;
  }

  .footer-content {
      padding: 2rem 10px;
  }

  .footer-list li {
      list-style-type: none;
      font-size: 1.2em;
      padding: 10px;
  }

  .social-title {
      font-size: 1.5rem;
      padding: 10px;
  }

  .social-icon li {
      float: left;
      list-style-type: none;
      padding: 10px;
      font-size: 20px;
  }

  .social-icon li a {
      color: #ffffff;
  }

@media screen and (min-width: 750px) {
    .contact-details {
        display: flex;
        justify-content: space-between;
    }

    .col {
        color: #333333;
        padding: 30px 15px;
        width: 33%;
        border-right: 1px solid #fbb537;
    }


    .col:last-child {
        border-right: none;
    }

    .send-enquiries {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .enquiry-col {
        color: #333333;
        padding: 30px 15px;
        width: 45%;
    }

    .col-1 {
        flex: 2;
    }

    .col-2 {
        flex: 1;
    }

    .form-col {
        display: flex;
        justify-content: space-between;
    }

    .form-span{
        width: 50%;
    }

    .form-span-2{
        width: 100%;
    }

    .label {
        padding: 20px;
        text-align: left;
    }

    .input-col {
        border: 1px solid #333333;
        padding: 10px;
        margin: 20px;
        border-radius: 8px;
        outline: 0;
        width: 80%;
    }

    .form-span-2 .input-col{
        width: 90%;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (min-width: 1000px) {
    .container {
        width: 1140px;
        margin: 0 auto;
        position: relative;
    }

    #menu {
        display: none;
    }

    .show-desktop{
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop{
        display: none;
    }

    .navbar {
        display: block;
        width: 100%;
    }

    .navbar-list {
        float: left;
        font-size: 1em;
        padding: 3px 45px;
        margin-top: 37px;
        margin-bottom: 0;
        border-right: 1px solid #fff;
    }

    .navbar-list:last-child{
        border-right: none;
    }
}